# Loads default set of integrations. Do not remove.
default_config:

homeassistant:
  auth_providers:
    - type: trusted_networks
      trusted_networks:
        - 0.0.0.0/0
      allow_bypass_login: true

# Text to speech
tts:
  - platform: google_translate

automation: !include automations.yaml
script: !include scripts.yaml
scene: !include scenes.yaml

lovelace:
  dashboards:
    lovelace:
      mode: yaml
      title: Keep Text in Tabs
      icon: mdi:view-dashboard
      show_in_sidebar: true
      filename: ui-lovelace.yaml
    lovelace-position:
      mode: yaml
      title: Position
      filename: ui-lovelace-position.yaml
    lovelace-include:
      mode: yaml
      title: Include
      filename: ui-lovelace-include.yaml
    lovelace-include-with-apply-when-inactive:
      mode: yaml
      title: Include with Apply When inactive
      filename: ui-lovelace-include-apply-when-inactive.yaml
    lovelace-exclude:
      mode: yaml
      title: Exclude
      filename: ui-lovelace-exclude.yaml
    lovelace-exclude-with-apply-when-active:
      mode: yaml
      title: Exclude with Apply When active
      filename: ui-lovelace-exclude-apply-when-active.yaml
    lovelace-override-before:
      mode: yaml
      title: Override before
      filename: ui-lovelace-override-before.yaml
    lovelace-override-after:
      mode: yaml
      title: Override after
      filename: ui-lovelace-override-after.yaml
    lovelace-text-transform-capitalize:
      mode: yaml
      title: Text Transform Capitalize
      filename: ui-lovelace-text-transform-capitalize.yaml
    lovelace-text-transform-lowercase:
      mode: yaml
      title: Text Transform Lowercase
      filename: ui-lovelace-text-transform-lowercase.yaml
    lovelace-text-transform-uppercase:
      mode: yaml
      title: Text Transform Uppercase
      filename: ui-lovelace-text-transform-uppercase.yaml
    lovelace-apply-when-always:
      mode: yaml
      title: Apply When always
      filename: ui-lovelace-apply-when-always.yaml
    lovelace-apply-when-active:
      mode: yaml
      title: Apply When active
      filename: ui-lovelace-apply-when-active.yaml
    lovelace-apply-when-inactive:
      mode: yaml
      title: Apply When inactive
      filename: ui-lovelace-apply-when-inactive.yaml
    lovelace-no-config:
      mode: yaml
      title: No Config
      filename: ui-lovelace-no-config.yaml
    lovelace-not-enabled:
      mode: yaml
      title: Not Enabled
      filename: ui-lovelace-not-enabled.yaml
    lovelace-no-tabs:
      mode: yaml
      title: No Tabs
      filename: ui-lovelace-no-tabs.yaml
    lovelace-no-texts:
      mode: yaml
      title: No Texts
      filename: ui-lovelace-no-texts.yaml
    lovelace-config-with-error:
      mode: yaml
      title: Config with error
      filename: ui-lovelace-config-with-error.yaml

# Load frontend themes from the themes folder
frontend:
  themes: !include_dir_merge_named themes
  extra_module_url: /local/keep-texts-in-tabs.js

timer:
  laundry:
    duration: "00:01:00"